/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

body {
    /*background-color: rgb(0, 188, 212);*/
    font-family: Roboto;
    margin-top: 0;
    overflow-y: hidden;
}

.ios-background {
    /*background-color: rgb(0, 188, 212); /* fallback color if gradients are not supported */
    /*background-image: -webkit-linear-gradient(top, rgb(0, 188, 212), 40px, white, 40px, white); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    /*background-image: -moz-linear-gradient(top, rgb(0, 188, 212), 40px, white, 40px, white); /* For Firefox (3.6 to 15) */
    /*background-image: -o-linear-gradient(top, rgb(0, 188, 212), 40px, white, 40px, white); /* For old Opera (11.1 to 12.0) */
    /*background-image: linear-gradient(to bottom, rgb(0, 188, 212), 40px, white, 40px, white); /* Standard syntax; must be last */
    margin: 0;
    border-top-style: solid;
    border-top-width: 20px;
    border-top-color: #00BCD4;
}

.content-box {
    color: white;
    color: rgba(0, 0, 0, .54);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    min-width: 240px;
    overflow: hidden;
    padding: 16px;
}

.mdl-layout__content {
    background-color: white;
}

.mdl-layout-title {
    /* margin-left: -50px; */
}

.mdl-navigation__link {
    cursor: pointer;
}

.mdl-navigation__link[disabled] {
    background-color: transparent;
    color: rgba(0, 0, 0, .26) !important;
    cursor: default;
}

.mdl-navigation__link[disabled]:hover {
    background-color: transparent !important;
}

.material-icons.menu-icon {
    margin-right: 4px;
    vertical-align: middle;
}

@media (max-width:1024px) {
    .mdl-layout__drawer-button {
        padding-top: 2px;
    }
}